

div {
  margin-top: 50px;
  margin-left: 40px;

}

#flip {
  transform: rotate(180deg);
}

#border{
  border-style: groove;
  border-color: pink;


}

#colorful {
  color: black
}

#grad {
}

body{
    background: linear-gradient(-90deg, #b0f4b4, #ff99cc);
    font-family: 'Fugaz One', cursive;
    input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
